name: CI/CD Pipeline

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    environment:
      name: staging
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
      
      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          export PATH="$HOME/.local/bin:$PATH"
        
      - name: Install dependencies
        run: |
          poetry install

      - name: Setup environment variables
        env:
          PYTHONPATH: src
          ENV_VAR: ${{ vars.ENV_VAR }}
          SECRET_VAR: ${{ secrets.SECRET_VAR }}
        run: |
          echo "PYTHONPATH=$PYTHONPATH" >> $GITHUB_ENV && \
          echo "ENV_VAR=$ENV_VAR" >> $GITHUB_ENV && \
          echo "SECRET_VAR=$SECRET_VAR" >> $GITHUB_ENV
      
      - name: Run tests
        run: |
            poetry run pytest
